/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();


// Aplicar o tema personalizado a todos os componentes do Angular Material
//@include mat.all-component-themes($custom-theme);

// Configuração global de estilo
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
